* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a:link, a:visited {
    text-decoration: none;
    color: inherit;
}

html,body,div,video {
    margin: 0;
    padding: 0; 
}

body {
    color: #fff;
    font-size: 12px;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
    position: relative;
}

/******************** header ********************/
#all-size {
    width: 1190px;
    margin: 0 auto;
}
header {
    width: 1190px;
    /*background: darkgoldenrod;*/
}

#logo {
    display: flex;
    justify-content: center;
}

#logo > a > img {
    width: 250px;
}

#login {
    text-align: right;
    padding: 20px 10px;
}

#login > a {
    padding: 5px 5px;
    font-size: 13px;
    color: #000;
}

#submenu {
    display: flex;
    justify-content: center;
    column-gap: 7rem;
    margin-top: 50px;
    background: #618EBE;
    height: 40px;
}

#submenu > li {
    display: block;
    padding-top: 8px;
}

#submenu > li > a {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    padding: 90px;
}

#back {
    background: #F1F4F6;
    width: 1903px;
    height: 700px;
    position: absolute;
}

#news {
    width: 500px;
    height: 300px;
    background: #fff;
    color: #000;
    margin-top: 30px;
    /*border-radius: 20px;*/
    list-style: none;
}

#news > h2 {
    border-bottom: solid 5px #618EBE;
    width: 150px;
    padding: 5px 0;
    padding-top: 15px;
    margin-left: 20px;
}

.lists {
    display: flex;
}

.list {
    display: block;
    margin-left: 20px;
    margin-top: 15px;
    font-size: 16px;
}

.list > li {
    padding-top: 10px;
}

.list2 {
    display: block;
    margin-left: 20px;
    margin-top: 15px;
    font-size: 16px;
}

.list2 > li {
    padding-top: 10px;
    padding-left: 15px;
}